
version: "3.6"

services:
  mongodb:
    image: mongo:latest
    container_name: 'mongodb'
    hostname: mongodb
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}

    env_file:
      - .env
    ports:
      - 27017:27017
    volumes:
        - ./.docker/mongodb/mongod.conf:/etc/mongod.conf
        - ./.docker/mongodb/initdb.d/:/docker-entrypoint-initdb.d/
        - ./.docker/mongodb/data/db/:/data/db/
        - ./.docker/mongodb/data/log/:/var/log/mongodb/
        - ./docker-entrypoint-initdb.d/mongo-init.js:/docker-entrypoint-initdb.d/mongo-init.js:ro

  webapp:
    # profiles:
    #   - donotstart
    build: ./webapp
    container_name: 'webapp'
    env_file:
      - .env
    environment:
      MONGO_DB_URL: ${MONGO_URL}
      MONGO_DB_NAME: ${MONGO_INITDB_DATABASE}
      REDIS_HOSTS: |
          [{'host':'redis_local','port':'6379'}]
      api_key: 1234567890
      api_key_name: API-KEY
      log_level: INFO
    ports:
      - "8000:80"